{% extends 'base.html' %}

{% block content %}
store: {{ stores_dict|get_item:deal.gameInfo.storeID }}
<p>{{ deal.gameInfo.name }}</p>
<p>sale price - {{ deal.gameInfo.salePrice }}$</p>
<p>retail price - {{ deal.gameInfo.retailPrice }}$</p>
<p>steam rating: "{{ deal.gameInfo.steamRatingText }}"
        {% if steamRatingPercent %}
    {{ deal.gameInfo.steamRatingPercent }}% positive reviews</p>
        {% endif %}
        {% if deal.gameInfo.metacriticLink %}
    <p>metacritic score - {{ deal.gameInfo.metacriticScore }}</p>
    <p><a href="https://www.metacritic.com{{ deal.gameInfo.metacriticLink }}">metacritic link</a></p>
        {% endif %}
{% endblock %}
